<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="styles/landing.css" />
  </head>
  <body>
    <div class="main">
      <div class="logo">
        <div>ATTENDIFY</div>
      </div>
      <div class="container">
        <div class="heading">
          <p class="title">Welcome to Attendify</p>
          <p class="title1">Choose your role</p>
        </div>
        <div class="box">
          <div class="student"><img src="img/student.png" /></div>
          <div class="teacher"><img src="img/teacher.png" /></div>
        </div>
        <div class="button"><button class="but">Next</button></div>
      </div>
    </div>
  </body>
</html>
